# Ignore everything (to avoid messing with other Mods if cloned directly into Extensions folder)
*

# except utcac subfolders
!/utcac_*/
!/utcac_*/*
!/utcac_*/*/*
!/utcac_*/*/*/*
!/utcac_*/*/*/*/*
!/utcac_*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*/*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*/*/*/*/*/*/*/*
!/utcac_*/*/*/*/*/*/*/*/*/*/*/*/*/*/*

#and a few other git-related files
!.gitignore

